In [33]:
import requests
import time

In [10]:
url = "https://www.lagou.com/jobs/positionAjax.json"

In [6]:
headers = {
    'content-type': "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
    'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36",
    'Referer': "https://www.lagou.com/jobs/list_Python?labelWords=&fromSearch=true&suginput=",
    'Origin': "https://www.lagou.com",
    'Cookie': "user_trace_token=20180912135919-fcea5679-b650-11e8-b814-5254005c3644; LGUID=20180912135919-fcea5ae6-b650-11e8-b814-5254005c3644; _ga=GA1.2.1059671172.1615552972; _gat=1; PRE_HOST=www.baidu.com; LGSID=20210312204311-8687b4b3-5e02-4ec0-9703-adb9559defe4; PRE_UTM=m_cf_cpc_baidu_pc; PRE_SITE=https%3A%2F%2Fwww.baidu.com%2Fbaidu.php%3Fsc.000000j0xnZgmfstWuIQXtf6P7vcrg6F-S1vvyVQy0SucScgaG%5F8hHxuC6ma-%5Fv9Xqt4fBbdumIj%5FuopPnGqpehprih4TnKfZ-T0GsHMTrnule89mI-54qhC0E%5FfV9etHfzfhCBD0w3oUzZyeETDMmm8z5-PPab32rzNg99mVr4jz0gXdSz%5FUSaOSH3tNNMI1QwZb886SjhXRdUR65EKoQie1zOj.DR%5FNR2Ar5Od663rj6tJQrGvKD77h24SU5WudF6ksswGuh9J4qt7jHzk8sHfGmYt%5FrE-9kstVerQKz33X8M-eXKBqM764mTT5QZstJXMy-MuzvI5WTMG4T5MY3IMo9vUt5MEsethZvedPHV2XgZJyAp7WF3S5HYJ0.U1Yk0ZDqs2v4%5FsKspynqn0KsTv-MUWYkP1cdPAmzmWNBPjF9nWu9PHu9uH-buADsuWf3mHIhm6KY5TaV8Un0pyYqnWcd0ATqUvwlnfKdpHdBmy-bIfKspyfqnHb0mv-b5HRd0AdY5HDsnH-xnH0kPdtznjmzg1nsnjIxnH0zndt1PW0k0AVG5H00TMfqrHnd0AFG5HDdr7tznjwxnWDLg1RsnsKVm1Yknj0kg1D3rjmvrH6sP1NxnWDdPHf1rjcLnWNxnH0zg17xn0KkTA-b5H00TyPGujYs0ZFMIA7M5H00mycqn7ts0ANzu1Ys0ZKs5Hn1P1ckrjRdrfK8IM0qna3snj0snj0sn0KVIZ0qn0KbuAqs5H00ThCqn0KbugmqTAn0uMfqn0KspjYs0Aq15H00mMTqnH00UMfqn0K1XWY0mgPxpywW5gK1Qy4J0A-bm1dri6KYmgFMugfqPWPxn7tkPH00IZN15HTsPWRdPWndPHDvrHbvrjDkPjT0ThNkIjYkPWDdPHRzrHmvP1n30ZPGujd-nWF-m1D1uH0snARsrj-W0AP1UHdDPjbkf1wjnjmknj0kP1P70A7W5HD0TA3qn0KkUgfqn0KkUgnqn0KlIjYs0AdWgvuzUvYqn7tsg1Kxn10sn-tsg100uA78IyF-gLK%5Fmy4GuZnqn7tsg1KxPjDvn1nYnNtsg100TA7Ygvu%5FmyTqn0Kbmv-b5H00ugwGujYVnfK9TLKWm1Ys0ZNspy4Wm1Ys0Z7VuWYs0AuWIgfqn0KGTvP%5F5H00XMK%5FIgnqn0K9uAu%5FmyTqnfK%5Fuhnqn0KbmvPb5RNAPHKKrju7wHN7PHRYf1mLrDf3rjIAwRDLwHndfYf4xj00IZF9uARqP1msnW0z0AFbpyfqfRn1fWFAnYc4PHuafWIAPH6zwjw7wHbvf1fdP1fdwbc0mMfqn0KEmgwL5H00ULfqn0KETMKY5H0WnanWnansc10Wna3snj0snj0WnanWnanVc108nj0snj0sc1D8nj0snj0s0Z7xIWYsQW64g108njKxna3sn7tsQWD4g108nHFxna31nNtknj08njKxnHc30AF1gLKzUvwGujYs0A-1gvPsmHYs0APs5H00mLFW5Hm1rjf%26word%3D%26ck%3D9011.1.92.328.462.283.454.550%26shh%3Dwww.baidu.com%26sht%3Dbaiduhome%5Fpg%26us%3D1.0.2.0.2.924.0%26wd%3D%26bc%3D110101; PRE_LAND=https%3A%2F%2Fwww.lagou.com%2Flanding-page%2Fpc%2Fsearch.html%3Futm%5Fsource%3Dm%5Fcf%5Fcpc%5Fbaidu%5Fpc%26m%5Fkw%3Dbaidu%5Fcpc%5Fsz%5Fe6fea8%5F067de6%5F%25E6%258B%2589%25E9%2592%25A9; JSESSIONID=ABAAAECAAEBABII2757360D202C2ED303AACAF45E213C0A; WEBTJ-ID=20210312%E4%B8%8B%E5%8D%888:43:23204323-17826767fc41b3-0df0bd8840a4a6-101a4559-1296000-17826767fc5904; RECOMMEND_TIP=true; sajssdk_2015_cross_new_user=1; sensorsdata2015session=%7B%7D; sensorsdata2015jssdkcross=%7B%22distinct_id%22%3A%221782676833912b-0d3fd38ab1b218-101a4559-1296000-1782676833e681%22%2C%22first_id%22%3A%22%22%2C%22props%22%3A%7B%22%24latest_traffic_source_type%22%3A%22%E8%87%AA%E7%84%B6%E6%90%9C%E7%B4%A2%E6%B5%81%E9%87%8F%22%2C%22%24latest_search_keyword%22%3A%22%E6%9C%AA%E5%8F%96%E5%88%B0%E5%80%BC%22%2C%22%24latest_referrer%22%3A%22https%3A%2F%2Fwww.baidu.com%2Flink%22%2C%22%24os%22%3A%22MacOS%22%2C%22%24browser%22%3A%22Chrome%22%2C%22%24browser_version%22%3A%2288.0.4324.182%22%7D%2C%22%24device_id%22%3A%221782676833912b-0d3fd38ab1b218-101a4559-1296000-1782676833e681%22%7D; Hm_lvt_4233e74dff0ae5bd0a3d81c6ccf756e6=1615552973,1615552989,1615553004; Hm_lpvt_4233e74dff0ae5bd0a3d81c6ccf756e6=1615553004; _gid=GA1.2.580831564.1615553004; index_location_city=%E5%85%A8%E5%9B%BD; TG-TRACK-CODE=index_search; __lg_stoken__=dcc7decdb29a78609f2e43f694e6f4c0318ae9be1da4c70f88802e978a5dbd5a79c716dc1617b7bedaa18cc084a82f4faec188bc64c2c6e833a9d7debb7d7bbcd7eb125ae1a7; X_MIDDLE_TOKEN=4c624206838498a46bfe014a2372d1ee; X_HTTP_TOKEN=0fcaa2b17ef303df1443555161d1b22f92bda3e9b3; SEARCH_ID=030c613341874424913cae33f0cb26c9; LGRID=20210312205045-d6976694-c074-4682-8e12-68b7c3117f96",
    'cache-control': "no-cache",
    'Postman-Token': "e1e595ee-b1fe-4d9e-ad31-1a42df5db15c"
    }

In [7]:
querystring = {"needAddtionalResult":"false"}

payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"first\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"pn\"\r\n\r\n3\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"kd\"\r\n\r\nPython\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--"

In [31]:
response = requests.request("POST", url, data=payload, headers=headers, params=querystring)

In [65]:
def get_python(i):
    try:
        for i in range(i, 101):
            print('page: %s' % str(i))
            payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"first\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"pn\"\r\n\r\n%s\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"kd\"\r\n\r\nPython\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--" % str(i)
            response = requests.request("POST", url, data=payload, headers=headers, params=querystring)
            time.sleep(10)
            print(response.status_code)
            result = response.json()['content']['positionResult']['result']
            save_csv(result)
    except Exception as msg:
        print(msg)
        pass

In [64]:
def save_csv(data):
    try:
        with open('lagou.csv', 'a+') as f:
            # f.write('positionName%companyFullName%companySize%industryField%financeStage%companyLabelList%firstType%secondType%thirdType%skillLables%positionLables%industryLables%city%salary%salaryMonth%workYear%jobNature%education%positionAdvantage\n')
            for i in data:
                positionName = i['positionName']
                companyFullName = i['companyFullName']
                companySize = i['companySize']
                industryField = i['industryField']
                financeStage = i['financeStage']
                companyLabelList = i['companyLabelList']
                firstType = i['firstType']
                secondType = i['secondType']
                thirdType = i['thirdType']
                skillLables = i['skillLables']
                positionLables = i['positionLables']
                industryLables = i['industryLables']
                city = i['city']
                salary = i['salary']
                salaryMonth = i['salaryMonth']
                workYear = i['workYear']
                jobNature = i['jobNature']
                education = i['education']
                positionAdvantage = i['positionAdvantage']
                f.write('{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}%{}\n'.format(
                    positionName,companyFullName,companySize,industryField,financeStage,companyLabelList,firstType,
                    secondType,thirdType,skillLables,positionLables,industryLables,city,salary,salaryMonth,workYear,
                    jobNature,education,positionAdvantage
                ))
                f.save()
    except Exception as msg:
        print(msg)
        pass

In [69]:
get_python(14)

page: 14
200
'content'

In [55]:
import pandas as pd

In [67]:
data = pd.read_csv('lagou.csv', sep='%')

In [68]:
data

,positionName,companyFullName,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,positionLables,industryLables,city,salary,salaryMonth,workYear,jobNature,education,positionAdvantage
0,.net开发工程师,英捷创软科技（北京）有限公司,15-50人,"企业服务,软件开发",未融资,[],开发|测试|运维类,后端开发,Python,"['.NET', 'C#', 'Golang', '后端']","['.NET', 'C#', 'Golang', '后端']",[],北京,15k-20k,0,5-10年,全职,本科,广阔职业发展全景，公司提供全面的专业培训。
1,python高级开发工程师,北京庖丁科技有限公司,50-150人,"金融,数据服务",A轮,"['五险一金', '定期体检', '带薪年假', '弹性工作']",开发|测试|运维类,后端开发,Python,['Python'],['Python'],[],西安,13k-20k,13,不限,全职,本科,周末双休 五险一金
2,Python开发工程师-北京-01870,嘉实基金管理有限公司,500-2000人,科技金融,不需要融资,"['员工食堂', '健身房', '弹性工作时间', '可定制福利']",开发|测试|运维类,后端开发,Python,['Python'],['Python'],[],北京,20k-40k,0,3-5年,全职,本科,具有竞争力的薪酬， TOP基金公司
3,后端开发工程师（Python、Go方向）9788,OPPO广东移动通信有限公司,2000人以上,智能硬件,不需要融资,"['丰厚年终', '扁平管理', '追求极致', '本分']",开发|测试|运维类,后端开发,Python,"['PHP', 'Python']","['移动互联网', 'PHP', 'Python']","['移动互联网', 'PHP', 'Python']",深圳,20k-40k,0,3-5年,全职,本科,大平台、带薪年假、班车接送、发展空间大
4,python(odoo开发工程师),北京人和易行科技有限公司,500-2000人,"生活服务,消费生活",A轮,"['员工旅游', '提供食宿', '培训', '绩效奖金']",开发|测试|运维类,后端开发,Python,"['后端', '服务器端']","['消费生活', '生活服务', '后端', '服务器端']","['消费生活', '生活服务', '后端', '服务器端']",北京,13k-25k,0,3-5年,全职,大专,"发展空间大,领导好"
5,高级python开发工程师,OPPO广东移动通信有限公司,2000人以上,智能硬件,不需要融资,"['丰厚年终', '扁平管理', '追求极致', '本分']",开发|测试|运维类,后端开发,Python,['Python'],['Python'],[],深圳,25k-50k,0,5-10年,全职,本科,公司平台大 核心团队
6,python开发工程师,上海众言网络科技有限公司,150-500人,工具类产品,C轮,"['技能培训', '节日礼物', '年底双薪', '绩效奖金']",开发|测试|运维类,后端开发,Python,"['Python', 'Redis', 'MongoDB', 'tornado']","['软件服务｜咨询', 'Python', 'Redis', 'MongoDB', 'tor...","['软件服务｜咨询', 'Python', 'Redis', 'MongoDB', 'tor...",苏州,8k-15k,13,1-3年,全职,大专,发展前景好，福利待遇优
7,高级python工程师,OPPO广东移动通信有限公司,2000人以上,智能硬件,不需要融资,"['丰厚年终', '扁平管理', '追求极致', '本分']",开发|测试|运维类,后端开发,Python,"['Python', 'MySQL']","['Python', 'MySQL']",[],深圳,25k-50k,0,不限,全职,本科,目前数据技术团队均由BAT成员组成，
8,python后端资深研发工程师（语音）,小船出海教育科技（北京）有限公司,2000人以上,在线教育,D轮及以上,"['免费三餐', '技术氛围浓厚', '定期体检', '新鲜水果']",开发|测试|运维类,后端开发,Python,['Python'],['Python'],[],北京,22k-44k,14,1-3年,全职,本科,技术氛围浓厚 扁平化管理
9,python开发工程师,北京国双科技有限公司,500-2000人,"人工智能服务,IT技术服务｜咨询",上市公司,"['节日礼物', '年底双薪', '带薪年假', '午餐补助']",开发|测试|运维类,后端开发,Python,"['Python', '机器学习']","['大数据', '云计算', 'Python', '机器学习']","['大数据', '云计算', 'Python', '机器学习']",北京,10k-20k,0,1-3年,全职,本科,上市大数据人工智能公司、与技术大牛共事
10,Python后端高级开发工程师-抖音/火山,北京字节跳动科技有限公司,2000人以上,"内容资讯,短视频",D轮及以上,"['扁平管理', '弹性工作', '就近租房补贴', '六险一金']",开发|测试|运维类,后端开发,其他后端开发,[],[],[],北京,20k-40k,0,1-3年,全职,本科,六险一金
11,Python开发工程师,深信服科技股份有限公司,2000人以上,"人工智能服务,信息安全",上市公司,"['三餐全包', '大牛超多', '年终奖超多', '大公司，稳定']",开发|测试|运维类,后端开发,Python,"['Python', '后端', '服务器端']","['人工智能服务', '信息安全', 'Python', '后端', '服务器端']","['人工智能服务', '信息安全', 'Python', '后端', '服务器端']",深圳,18k-35k,14,3-5年,全职,本科,大牛多、福利好、晋升快
12,Python开发工程师,上海快仓智能科技有限公司,150-500人,智能硬件,C轮,"['股票期权', '五险一金', '弹性工作', '午餐补助']",开发|测试|运维类,后端开发,Python,['Python'],['Python'],[],上海,10k-20k,13,1-3年,全职,本科,行业前景好 发展空间大

In [106]:
# df = pd.DataFrame()
for i in range(1, 10, 2):
    print(i)
    url1 = 'http://www.tianqihoubao.com/aqi/beijing-20200%s.html' % str(i)
    d1 = pd.read_html(url1)
    url2 = 'http://www.tianqihoubao.com/aqi/beijing-20200%s.html' % str(i+1)
    d2 = pd.read_html(url2)
    df = pd.merge(d1[0], d2[0], how='outer')

1
3
5
7
9

In [107]:
df

,0,1,2,3,4,5,6,7,8,9
0,ÈÕÆÚ,ÖÊÁ¿µÈ¼¶,AQIÖ¸Êý,µ±ÌìAQIÅÅÃû,PM2.5,PM10,So2,No2,Co,O3
1,2020-09-01,ÓÅ,28,64,11,25,2,22,0.46,43
2,2020-09-02,ÓÅ,27,42,13,25,2,19,0.40,46
3,2020-09-03,ÓÅ,20,26,6,16,2,16,0.34,48
4,2020-09-04,ÓÅ,36,95,13,33,2,27,0.45,48
...,...,...,...,...,...,...,...,...,...,...
57,2020-01-27,ÖØ¶ÈÎÛÈ¾,209,354,160,138,10,37,1.83,55
58,2020-01-28,ÖØ¶ÈÎÛÈ¾,218,349,169,145,13,39,2.06,66
59,2020-01-29,Çá¶ÈÎÛÈ¾,101,285,76,55,7,27,1.13,57
60,2020-01-30,Á¼,64,189,46,47,5,27,0.80,52
61,2020-01-31,Á¼,64,156,44,47,4,27,0.79,51

In [108]:
df10 = pd.read_html('http://www.tianqihoubao.com/aqi/beijing-202010.html')
df11 = pd.read_html('http://www.tianqihoubao.com/aqi/beijing-202011.html')
df12 = pd.read_html('http://www.tianqihoubao.com/aqi/beijing-202012.html')

In [109]:
df = pd.merge(df, df10[0], how='outer')

In [110]:
df = pd.merge(df, df11[0], how='outer')

In [111]:
df = pd.merge(df, df12[0], how='outer')

In [116]:
df_new = df.iloc[1:]

In [118]:
df_new

              0   1   2    3   4    5  6   7     8   9
1    2020-09-01  ÓÅ  28   64  11   25  2  22  0.46  43
2    2020-09-02  ÓÅ  27   42  13   25  2  19  0.40  46
3    2020-09-03  ÓÅ  20   26   6   16  2  16  0.34  48
4    2020-09-04  ÓÅ  36   95  13   33  2  27  0.45  48
5    2020-09-05  Á¼  55  247  23   51  2  30  1.17  84
..          ...  ..  ..  ...  ..  ... ..  ..   ...  ..
149  2020-12-27  Á¼  85  129  63  100  6  59  1.39   8
150  2020-12-28  Á¼  88  156  60   93  7  39  0.94  20
151  2020-12-29  ÓÅ  50  139   8   54  2   6  0.28  49
152  2020-12-30  ÓÅ  30   55   5   30  2   7  0.29  51
153  2020-12-31  ÓÅ  34   50  11   35  2  26  0.38  34

[153 rows x 10 columns]

In [113]:
import pyecharts.options as opts
from pyecharts.charts import Line, Bar, Pie, Calendar, WordCloud
from pyecharts.commons.utils import JsCode
from pyecharts.globals import SymbolType

In [117]:
df_new.groupby('0')

KeyError: '0'

In [ ]:
total_money_value = death_2020.groupby('Mycol')['存活天数'].sum().values.tolist()
total_money_index = death_2020.groupby('Mycol')['存活天数'].sum().index.tolist()
total_money_data = list(zip(total_money_index, total_money_value))

In [114]:
def calendar_base(data) -> Calendar:
    background_color_js = (
    "new echarts.graphic.LinearGradient(0, 0, 0, 1, "
    "[{offset: 0, color: '#c86589'}, {offset: 1, color: '#06a7ff'}], false)"
)

    c = (
        Calendar(init_opts=opts.InitOpts(bg_color=JsCode(background_color_js)))
        .add("", data, calendar_opts=opts.CalendarOpts(range_="2020", pos_right="5%", pos_left="8%"))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="2020倒闭公司存活时间日历"),
            visualmap_opts=opts.VisualMapOpts(
                max_=40000,
                min_=500,
                orient="horizontal",
                is_piecewise=True,
                pos_top="230px",
                pos_left="100px",
            ),
        )
    )
    return c

In [ ]:
calendar_base(total_money_data).render_notebook()